@module-name: alpha-radio;

.@{module-name} {
    display: inline-flex;
    align-items: center;
    .p-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
  
    cursor: pointer;
    .radio-input:disabled {
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid var(--alpha--color-gray-200);
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            box-sizing: border-box;
        }
        &:checked:before{
            content: '';
            width: 20px;
            height: 20px;
            box-sizing: border-box;
            border: 6px solid var(--alpha--color-gray-200);
            // background:#c59c5a;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
        }
        
    }
    &:hover {
        .radio-input::before + input:not([type="disabled"]) {
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid var(--alpha--color-accent-400);
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            box-sizing: border-box;
        }
       
        
    }
    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .out-span {
        width: 20px;
        height: 20px;
        border: 2px solid var(--alpha--color-gray-400);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 11px;
        cursor: pointer;
    }
    inner-span {
        width: 10px;
        height: 10px;
        display: inline-block;
        border: 1px solid var(--alpha--color-black);
        border-radius: 50%;
        background: var(--alpha--color-black);
    }
    .radio-input{
        width: 20px;
        height: 20px;
        appearance: none;
        position: relative;
        box-sizing: border-box;
        
    }
    .radio-input:before{
        content: '';
        width: 20px;
        height: 20px;
        border: 2px solid var(--radio-border-color-default);
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
        box-sizing: border-box;
    }
    .radio-input:checked:before{
        content: '';
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        border: 6px solid var(--radio-border-color-checked);
        // background:#c59c5a;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }
    .label-radioe:checked:after{
        content: '';
        width: 10px;
        height:5px;
        border: 2px solid var(--alpha--color-white);
        border-top: transparent;
        border-right: transparent;
        text-align: center;
        display: block;
        position: absolute;
        top: 6px;
        left:5px;
        transform: rotate(-45deg);
    }
    .radio-input:checked+label{
        color: var(--radio-label);
    }
    .radio-label {
        height: 100%;
        line-height: 1.2;
        display: inline-flex;
        align-items: center;
        margin: 0 12px;
        font-size: 14px;
    }
    // .radio-label[disabled] {
    //     background-color: red;
    // }
}

